@charset "UTF-8";

html,

#fbhtml {
	font-family: 'Sunflower', 'sans-serif';
}
	
#searchT{ 
	text-align:center;	
	}
	

h2{
   position: relative;
   top: 20px;
   left : -100px;
   width: 70%;
   padding: 2rem 0px;
}

.fboard { 
   font-size: 15pt;
   position: relative;
   left : 0px;
	
   top: -50px;	
   text-align: left;
   line-height: 1.5;
   table-layout:fixed;   
}

.fboard tr{
	line-height : 2em;

}
