@font-face{
    font-family: 'SDMiSaeng';
    src: url('/doggybeta/resources/fonts/SDMiSaeng.ttf');
}

.wrap_content{
    font-family: 'SDMiSaeng';
    height:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-rows: 1fr 6fr 1fr;
    background-color: #fafafc;
    grid-gap: 10px;
    margin-left: 200px;
}

.wrap_content .section1{
    display: flex;
    grid-column: span 1;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.wrap_content .section1 input[type="radio"]{
    display: none;
}  
.wrap_content .section1 .navigation__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-gap: 90px;
}
.navigation__list .navigation__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center; 
    transition: opacity 0.1s linear;
    width: 80px;
    height: 80px;
}
.navigation__item .item__icon {
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    transition: box-shadow 0.2s linear;
    cursor: pointer;
}
  
.navigation__list:hover .navigation__item {
    
    opacity: 0.5;
}
  
  .navigation__list .navigation__item:hover {
    opacity: 1;
  }
  
  .navigation__list .navigation__item:hover .item__icon {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05), 0 6px 10px rgba(0, 0, 0, 0.1);
  }
  
  .item__icon .icon__emoji img{
    width: 40px;
    height: 40px;
  }
  
  .navigation__item .item__text {
    font-size: 18px;
    font-weight: 400;
  }
.wrap_content .section2{
    display: grid;
    grid-column: span 1;
    
    z-index: 1000;
    
}
.wrap_content .section3{
    display: grid;
    grid-column: span 1;
    
    z-index: 1000;
}
.wrap_content .section4{
    display: grid;
    grid-column: span 3;
    
    z-index: 1000;
}
.wrap_content .section4 #reserv_table, tr, th, td{
    border-collapse: collapse;
    margin : 30px;
}
.wrap_content .section4 #reserv_table tr:hover{
    background-color: rgba(0, 0, 0, 0.05);
}
#reserv_table thead{
    font-size: 19px;
    color: white;
    background-color: rgba(30,144,255,0.7);
    
}
#reserv_table thead tr{
    height: 50px;
}

#reserv_table tbody tr{
    height: 50px;
    background-color: white;
    text-align: center;
    font-size: 18px;
}
#reserv_table button{
    font-size: 11px;
}
#reserv_table button:hover{
    cursor: pointer;
    opacity: 0.7;
}

.wrap_content .section4 .host_main {
    display: none;
    width: 97%;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-gap: 10px;
}

.host_main .host_table {
    display: grid;
    grid-column: span 1;
    grid-row: span 2;
}
.host_table button {
    font-size: 11px;
    cursor: pointer;
}
.host_table button:hover{
    opacity: 0.7;
}

.host_table thead tr{
    font-size: 19px;
    color: white;
    background-color: rgba(30,144,255,0.7);
    height: 50px;
}
.host_table tbody tr{
    height: 50px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    background-color: white;
}
.host_table tbody tr:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.wrap_content .section4 .host_table table, tr, th, td{
    border-collapse: collapse;
    margin : 5px;
}

.host_main .host_side1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: span 1;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.4);
}

.host_side1 .host_map {
    width: 85%;
    height : 340px;
    border: 1px solid rgba(0,0,0,0.4);
}

.host_main .host_side2{
    grid-column: span 1;
    border: 1px solid rgba(0,0,0,0.4);
}
.host_side2 .showbox {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    
    height: 100%;
}
.showbox #showbox_img{
    width: 35%;
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin-left: 5%;
}
.showbox .showbox_info{
    width: 60%;
    height : 80%;
    margin-left: 5%;
}
#addr_text{
    font-size: 20px;
}
.host_side2 p {
    font-size: 19px;
    font-weight: 500;
    margin: 0;
}
.host_side2 input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    outline: none;
    height: 20px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 17px;
    font-family: 'SDMiSaeng';
}
.section4 #add_pet {
    display: none;
    padding: 30px;
    grid-template-columns: 2.5fr 0.5fr 1.5fr;
    grid-template-rows: 10fr 1fr;
    grid-gap: 30px;
    background: rgba(30, 144, 255, 0.3);
}
#add_pet .pet_insert {
    grid-column: span 1;
    grid-row: 1 / 3;
    border-radius: 30px;
    background: #fafafc;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
}
.pet_insert #pet_reg_form{
    width: 650px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#pet_reg_form fieldset {
    background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
    position: relative;
    animation-duration: 1s;
    animation-name: slidein;
}
#pet_reg_form fieldset:not(:first-of-type) {
    display: none;
} 
@keyframes slidein {
    from {
      margin-left: 50%;
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
#pet_reg_form input, #pet_reg_form textarea {
    border: 1px solid #ccc;
	border-radius: 3px;
    padding: 15px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: 'SDMiSaeng';
	color: #2C3E50;
	font-size: 18px;
}
#pet_reg_form .action-button{
    width: 150px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
.pi-title{
    font-size: 19px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.pi-subtitle{
    font-weight: normal;
	font-size: 15px;
	color: #666;
	margin-bottom: 20px;
}
#progressbar {
    margin-bottom: 30px;
	overflow: hidden;
    counter-reset: step; 
}
#progressbar li{
    list-style-type: none;
	color: black;
	text-transform: uppercase;
	font-size: 15px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li::before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 19px;
	color: white;
	background: black;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li::after {
	content: '';
	width: 100%;
	height: 2px;
	background: black;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child::after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active::before,  #progressbar li.active::after{
	background: #27AE60;
	color: white;
}
#pet_reg_form .action-button:hover, #pet_reg_form .action-button:focus{
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

#pet-img-preview {
    width: 400px;
    height: 250px;
}
#petpic-btn {
    width: 250px;
	background-color: rgba(30, 144, 255, 0.7);
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#petpic-btn:hover, #petpic-btn:focus{
    background-color: dodgerblue;
    box-shadow: 0 0 0 2px white, 0 0 0 3px dodgerblue;
    width: 260px;
}
.pet_insert .radio-box{
	margin-bottom: 10px;
	width: 100%;
    display: flex;
    justify-content: space-between;
}
.pet_insert .btn-radio{
    width: 115px;
    padding: 15px;
    border: 1px solid #ccc;
	border-radius: 3px;
    cursor: pointer;
	color: rgba(0, 0, 0, 0.7);
	font-size: 12px;   
}
.pet_insert .btn-radio:hover{
    box-shadow: 0 0 0 2px white, 0 0 0 3px dodgerblue;
}
#pet_reg_form input[type="radio"]{
    display: none;
}

#add_pet .pet_list{
    grid-column: span 1;
    grid-row: 1 / 2;  
    border-radius: 20px;
    background-color: #fafafc;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tabs__button {
    display: block;
    padding: 10px;
    border: none;
    background: #eeeeee;
    width: 95%;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
}
.tabs__button:active{
    background: #ddd;
}
.tabs__button:not(:last-of-type){
    margin-bottom: 6px;
}
/* .tabs__button:focus{
    font-weight: bold;
    border-right: 4px solid #27AE60;
} */

#add_pet .pet_list_pagination{
    grid-row: span 1;
    grid-column: span 1;
    border-radius: 10px;
    background: #fafafc;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
}

#add_pet .pet_update {
    grid-column: span 1;
    grid-row: 1 / 3;
    border-radius: 30px;
    background-color: #fafafc;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
}
#pet_up_form {
    padding: 15px 50px;
    display: flex;
    flex-direction: column;
}

#pet_up_form input, #pet_up_form textarea[name="etc"]{

    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    outline: none;
    height: 25px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 17px;
    font-family: 'SDMiSaeng';
    resize: none;
}
#pet_up_form input[type="file"]{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.updel__btns button:hover{
    cursor: pointer;
    opacity: 0.7;
}


#pet_up_form p {
    text-transform: uppercase;
    font-size: 20px;
}
#pet_up_form .flex__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#pet_up_form .fbox1 {
    margin-right: 13%;
}

.radio-toolbar input[type="radio"] {
    display: none;
}
  
.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 4px 11px;
    font-family: Arial;
    font-size: 11px;
    cursor: pointer;
 }
  
.radio-toolbar input[type="radio"]:checked+label {
    background-color: #bbb;
}
#pet_up_form .pet__img__update{
    width: 40%;
    height: 120px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

#pet_up_form .updel__btns{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.updel__btns button {
    margin: 10px;
    font-size: 11px;
}

.pet_list_pagination {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pet_list_pagination .pagebox{
    background-color: white;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    margin: 4px;
    font-size: 19px;
    font-weight: 400;
    padding: 2px;
    text-align: center;
}

.pet_list_pagination .pagebox:hover{
    opacity: 0.6;
}
.wrap_content .section5{
    /* display: grid; */
    display: flex;
    justify-content: center;
    grid-column: span 3; 
    z-index: 1000;
}
.section5 .pagination{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pagination .pagebox{
    background-color: white;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    cursor: pointer;
    margin: 5px;
    font-size: 19px;
    font-weight: 400;
    padding: 5px;
    text-align: center;
}

.pagination .pagebox:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }

  .modal-content {
    display: none;
    position: absolute;
    border-radius: 4px;
    background-color: #f1f2f6;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 0.5px solid #888;
    width: 28%; /* Could be more or less, depending on screen size */
    height: 50%;
    z-index: 1600;
    left: 700px;
    top: 150px;
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  }
  .cancelbtn {
    width: 50%;
    padding: 10px 18px;
    background-color: rgba(30, 144, 255, 0.7);
    border: none;
    cursor: pointer;
    color: white;
  }
  .cancelbtn:hover{
      opacity: 0.8;
  }
  .modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
  }
  #modal-img{
     margin: 25px 0;
     width: 400px;
     height: 300px;
  }

  .modal-content .xBtn {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }

  .modal-content .xBtn:hover {
    color: red;
    cursor: pointer;
    opacity: 0.8;
  }
