.wrap_content{
    height:100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    background-color: #fafafc;
    grid-gap: 10px;
    margin-left: 200px;
}

.wrap_content .section1{
    display: flex;
    grid-column: span 1;
    border: 1px solid rgba(0,0,0,0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.wrap_content .section1 input[type="radio"]{
    display: none;
}  
.wrap_content .section1 .navigation__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-gap: 90px;
}
.navigation__list .navigation__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center; 
    transition: opacity 0.1s linear;
    width: 80px;
    height: 80px;
}
.navigation__item .item__icon {
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    transition: box-shadow 0.2s linear;
    cursor: pointer;
}
  
.navigation__list:hover .navigation__item {
    
    opacity: 0.5;
}
  
  .navigation__list .navigation__item:hover {
    opacity: 1;
  }
  
  .navigation__list .navigation__item:hover .item__icon {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05), 0 6px 10px rgba(0, 0, 0, 0.1);
  }
  
  .item__icon .icon__emoji img{
    width: 40px;
    height: 40px;
  }
  
  .navigation__item .item__text {
    font-size: 11px;
    font-weight: 400;
  }
.wrap_content .section2{
    display: grid;
    grid-column: span 1;
    border: 1px solid rgba(0,0,0,0.7);
    z-index: 1000;
    
}
.wrap_content .section3{
    display: grid;
    grid-column: span 1;
    border: 1px solid rgba(0,0,0,0.7);
    z-index: 1000;
}
.wrap_content .section4{
    display: grid;
    grid-column: span 3;
    border: 1px solid rgba(0,0,0,0.7);
    z-index: 1000;
}
.wrap_content .section4 #reserv_table, tr, th, td{
    border-collapse: collapse;
    margin : 30px;
}
.wrap_content .section4 #reserv_table tr:hover{
    background-color: rgba(0, 0, 0, 0.05);
}
#reserv_table thead{
    font-size: 15px;
    color: white;
    background-color: rgba(30,144,255,0.7);
    
}
#reserv_table thead tr{
    height: 50px;
}

#reserv_table tbody tr{
    height: 50px;
    background-color: white;
    text-align: center;
    font-size: 12px;
}

.wrap_content .section4 .host_main {
    border: 1px solid rgba(0,0,0,0.7);
    margin: 30px;
    display: none;
    width: 97%;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-gap: 10px;
}

.host_main .host_table {
    display: grid;
    grid-column: span 1;
    grid-row: span 2;
    border: 1px solid rgba(0,0,0,0.7);
}

.host_table thead tr{
    font-size: 15px;
    color: white;
    background-color: rgba(30,144,255,0.7);
    height: 50px;
}
.host_table tbody tr{
    height: 50px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    background-color: white;
}
.host_table tbody tr:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.wrap_content .section4 .host_table table, tr, th, td{
    border-collapse: collapse;
    margin : 30px;
}

.host_main .host_side1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: span 1;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.7);
}

.host_side1 .host_map {
    width: 85%;
    height : 340px;
    border: 1px solid rgba(0,0,0,0.7);
}

.host_main .host_side2{
    display: grid;
    grid-column: span 1;
    border: 1px solid rgba(0,0,0,0.7);
}
.section4 #add_pet {
    display: none;
    padding: 30px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 30px;
    background: rgba(30, 144, 255, 0.3);
}
#add_pet .pet_insert {
    grid-column: span 1;
    border-radius: 30px;
    background: #fafafc;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
}
.pet_insert #pet_reg_form{
    width: 650px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#pet_reg_form fieldset {
    background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
    position: relative;
    animation-duration: 1s;
    animation-name: slidein;
}
#pet_reg_form fieldset:not(:first-of-type) {
    display: none;
} 
@keyframes slidein {
    from {
      margin-left: 50%;
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
#pet_reg_form input, #pet_reg_form textarea {
    border: 1px solid #ccc;
	border-radius: 3px;
    padding: 15px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
#pet_reg_form .action-button{
    width: 150px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
.pi-title{
    font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.pi-subtitle{
    font-weight: normal;
	font-size: 11px;
	color: #666;
	margin-bottom: 20px;
}
#progressbar {
    margin-bottom: 30px;
	overflow: hidden;
    counter-reset: step; 
}
#progressbar li{
    list-style-type: none;
	color: black;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li::before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: white;
	background: black;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li::after {
	content: '';
	width: 100%;
	height: 2px;
	background: black;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child::after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active::before,  #progressbar li.active::after{
	background: #27AE60;
	color: white;
}
#pet_reg_form .action-button:hover, #pet_reg_form .action-button:focus{
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

#pet-img-preview {
    width: 400px;
    height: 250px;
}
#petpic-btn {
    width: 250px;
	background-color: rgba(30, 144, 255, 0.7);
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#petpic-btn:hover, #petpic-btn:focus{
    background-color: dodgerblue;
    box-shadow: 0 0 0 2px white, 0 0 0 3px dodgerblue;
    width: 260px;
}
.pet_insert .radio-box{
	margin-bottom: 10px;
	width: 100%;
    display: flex;
    justify-content: space-between;
}
.pet_insert .btn-radio{
    width: 115px;
    padding: 15px;
    border: 1px solid #ccc;
	border-radius: 3px;
    cursor: pointer;
	color: rgba(0, 0, 0, 0.7);
	font-size: 11px;   
}
.pet_insert .btn-radio:hover{
    box-shadow: 0 0 0 2px white, 0 0 0 3px dodgerblue;
}
#pet_reg_form input[type="radio"]{
    display: none;
}

#add_pet .pet_list{
    grid-column: span 1;  
    border-radius: 30px;
    background-color: #fafafc;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
}
#add_pet .pet_update {
    grid-column: span 1;
    border-radius: 30px;
    background-color: #fafafc;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
}
.wrap_content .section5{
    /* display: grid; */
    display: flex;
    justify-content: center;
    grid-column: span 3; 
    border: 1px solid rgba(0,0,0,0.7);
    z-index: 1000;
}
.section5 .pagination{
    width: 800px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination .pagebox{
    background-color: white;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
    width: 40px;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    cursor: pointer;
    margin: 10px;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    text-align: center;
}

.pagination .pagebox:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
