@charset "UTF-8";
.mcontainer {
	position: relative;
    line-height: 1.5;
    width: 80%;
    left: 250px;
   /* position: relative;
   left : 250px;
   width: 50%;
   border-collapse: collapse;
   text-align: left;
   line-height: 1.5;
   table-layout:fixed;     */
}
ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #ededed;
	color: #222;
}
.row{
	display: none;
	background: #ededed;
	padding: 15px;
}
.row.current{
	display: inherit;
}
.mcontainer h3 {
	text-align: center;
}
.mcontainer .t {
	font-size: 13px;
}
.mcontainer thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
}
.mcontainer tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    background: #f3f6f7;
}
.mcontainer td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
.mcontainer .fourthTd {
	text-align: left;
	width: 50%;
}