@charset "UTF-8";
@import url("http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.tfree thead th {
	padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
}
.tfree tbody td { 
	width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;   
    
}
#tbh {
	position: relative;
	left: 30%;
}
.fbh {
	position: relative;
	left: 30%;
}
.tfree tbody tr:hover{
	background-color : #f3f6f7;
}
.tfree tbody td a{
	text-decoration: none;
	color: black;
}
.icon-heart:after,
.icon-heart-2:before {
	content: "\e00a";
}
#managerMainPageBg {
	margin: 0;
	padding: 0;
	background: url(../../images/agreeBg2.jpg) no-repeat center center fixed; 
	background-size: 100%;
}
.mVertical-menu p {
	position: relative;
	text-align: center;
	color: #fff;
}
.mVertical-menu a {
	text-decoration: none;
	color: #fff;
	outline: none;
}
ul.mVertical-menu {
	position: fixed;
  	z-index: 9;
  	top: 0;
  	left: 0;
  	bottom: 0;
	background: #222;
	width: 250px;
	margin: auto;
	padding: 0;
	list-style: none;
	overflow: hidden;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
	float: left;
}
.mVertical-menu li span {
	cursor: pointer;
	width: 250px;
	padding-left: 20px;
	height: 50px;
	line-height: 50px;
	display: block;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	transition: all 0.2s linear;
}
.mVertical-menu li span:hover {
	border-left: 5px solid #58B19F;
	background: #444;
}
.mVertical-menu li span {
	border-left: 5px solid #444;
}
.mVertical-menu li span:hover i {
	color: #58B19F;
}
.mVertical-menu i {
	margin-right: 15px;
	transition: all 0.2s linear;
}
.mVertical-menu em {
	font-size: 10px;
	background: #ea4f35;
	padding: 3px 5px;
	border-radius: 10px;
	font-style: normal;
	color: #fff;
	margin-top: 17px;
	margin-right: 40px;
	line-height: 10px;
	heignt: 10px;
	float: right;
}
.submenu {
	display: none;
    font-size: 13px;
    box-sizing: border-box;
    content: " ";
    color: #ae9f9f;
    cursor: pointer;
}

.submenu li {
    line-height: 20px;
    height: 35px;
    margin-left: -40px;
    padding-top: 11px;
    transition: all 0.2s linear;
    border-left: solid 5px #484141;
    background-color: #484141;
    text-align: center;
    list-style: none;
}
.submenu li a {
	text-decoration: none;
	color: #ae9f9f;
}

.submenu .chosen,
.submenu .chosen:hover {
    border-left: solid 5px #96d145;
}

.submenu li:hover {
    border-left: solid 5px #58B19F;
    background-color: #485050;
}

.submenu li span {
    margin-left: 30px;
}

.btn {
	border: none;
	font-family: inherit;
	font-size: 15px;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-align: center;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
	left: 25%;
}
.btn-3 {
	background: #58B19F;
	color: #fff;
}
.tfree {
	position: relative;
	left: 30%;
}
.btn-3:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}
.btn-3c {
	padding: 20px 20px 20px 20px;
	border-radius: 10px;
	box-shadow: 0 3px #43A589;
}
.btn-3c:before {
	height: 60px;
	width: 100%;
	line-height: 60px;
	background: #fff;
	color: #58B19F;
	border-radius: 10px 10px 0 0;
}

.btn-3c:active:before {
	color: #58B19F;
}
.labcnt {
	position: relative;
	left: 50%;
}