<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Dog House</title>
<meta name="description" content="">
<meta name="author" content="">
<!-- css -->
<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
	rel="stylesheet" />
<link href="../../resources/css/mainV2.css" rel="stylesheet"
	type="text/css">
<link rel="stylesheet" type="text/css"
	href="../../resources/css/multiscroll.css" />
<script type="text/javascript"
	src="/doggybeta/resources/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
	
</script>
<!-- javascript -->
<script type="text/javascript"
	src="/doggybeta/resources/js/multiscroll.js"></script>
	<style type="text/css">
	
	</style>
</head>
<!-- <div id="bgimage">
	<img src="/doggybeta/resources/images/backdog1.jpg" alt="" >
</div> -->
<body>
	<input type='checkbox' id='menu_state' checked />
	<nav>
		<label for='menu_state'><i class="fa"></i></label>
		<ul class='icon' id='icon'>
			<li><img id='logo' src='/doggybeta/resources/images/doglogo.png'
				width='80%' /> <a id='doghouse1'><span>도그하우스</span></a></li>
			<li id='icon1'><a href='#'> <span>홈</span> </a>
			</a></li>
			<li id='icon2' class="m1"><a href="#"><span>About us</span></a>
				<ul class="m2">
					<li>회사소개</li>
					<li>연혁</li>
					<li>팀 도그집사</li>
					<li>오시는 길</li>
				</ul>
			</li>
			<li id='icon3'><a href='#'> <span>펫시터 찾기</span></a>
			</a></li>
			<li id='icon4' class="m1"><a href='#'> <span>게시판</span>
			</a>
				<ul class="m2">
					<li>공지사항</li>
					<li>자유게시판</li>
					<li>팁</li>
				</ul></li>
			<li id='icon5' class="m1"><a href="#"> <span>고객센터</span></a>
				<ul class="m2">
					<li>FAQ</li>
					<li>이용방법</li>
					<li>1:1문의</li>
				</ul>
			</li>


			<li id='icon6' class="m1"><a href="#"><span>마이페이지</span></a>
				<ul class="m2">
					<li>정보수정</li>
					<li>이용내역/예약확인</li>
					<li>펫시터신청</li>
					<li>사전문의확인</li>
				</ul>
			</li>

			<li data-content='2' class='unread' id='icon4'><a href='#'>
					<span>쪽지함</span>
			</a></li>
		</ul>
		 <script type="text/javascript">
	$('.m1').hover(function() {
		if ($(this).children('.m2').is(':visible')) {
			$(this).children('.m2').slideUp();
		} else {
			$(this).children('.m2').slideDown();
		}

	});
	</script>
	</nav>
	<main>
	<div id='slide'>
		<input type='radio' name='pos' id='pos1' checked /> <input
			type='radio' name='pos' id='pos2' /> <input type='radio' name='pos'
			id='pos3' />
		<ul>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<p class='pos'>
			<label for='pos1'></label> <label for='pos2'></label> <label
				for='pos3'></label>
		</p>
	</div>
	</main>
	<button class='btn btn-1 btn-sign'>회원가입/로그인</button>
</body>
</html>